@tailwind base;
@tailwind components;
@tailwind utilities;

@layer pages {
  .container {
    width: 100%;
    height: 120%;
    background-color: #f0f2f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
  }

  .form-container {
    margin-top: 15px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .form-container-2 {
    margin-top: 15px;
    max-width: 800px;
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 10px;
  }

  .form-wrapper {
    max-width: 300px;
    width: 100%;
    margin: auto;
  }

  .input-item {
    margin-bottom: 15px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .Login {
    font-size: 40px;
    margin-left: 120px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 1000;
  }

  .Register {
    font-size: 40px;
    margin-left: 300px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 1000;
  }
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    max-width: 100%;
  }
}

@layer components {
  .styles-x-axis {
    @apply flex items-center;
  }

  .header {
    @apply w-full flex justify-between bg-slate-200 p-0 drop-shadow-xl;
  }

  .wrapper-50 {
    @apply w-1/2;
  }

  .menu-bar {
    @apply flex items-center justify-center bg-amber-600 text-2xl h-16 cursor-pointer mr-4 w-16 hover:bg-amber-700;
  }

  .logo-box {
    @apply w-36 cursor-pointer;
  }

  .search-box {
    @apply relative w-96 ml-16 max-lg:hidden;
  }

  .search-item {
    @apply rounded-md h-8 text-xs pl-8;
  }

  .search-icon {
    @apply absolute left-2 pointer-events-none;
  }

  .cart-styles {
    @apply cursor-pointer text-xl mx-3;
  }

  .sign-in-button {
    @apply rounded-xl border-amber-600 bg-amber-600 h-12 w-24 leading-10 hover:bg-amber-700;
  }

  .sign-up-button {
    @apply rounded-xl border-slate-400 bg-gray-300 hover:bg-gray-400 h-12 w-24 leading-10 mx-3;
  }

  .sider {
    @apply h-full bg-amber-600 !important;
    @apply transition-transform duration-75;
  }

  .sider-item {
    @apply p-3 hover:bg-zinc-200;
  }

  .sider-text {
    @apply ml-2 text-stone-800 text-base;
  }

  .active {
    @apply bg-zinc-200;
  }

  .footer {
    @apply w-full bg-slate-200;
  }
}
